### Documentation available at https://wodby.com/docs/stacks/drupal/local
### Changelog can be found at https://github.com/wodby/docker4drupal/releases
### Images tags format explained at https://github.com/wodby/docker4drupal#images-tags


### UW VERSION TAG
## To force docker image rebuild, increment this number, it will trigger new build process.
## This version number should be tied to PHP_IMAGE_VERSION, if php version gets update,
## it is ok to reset uw version to 1.
UW_VERSION=11

### PHP VERSION TAG
PHP_IMAGE_VERSION=4.38.5

### PROJECT SETTINGS
PROJECT_NAME={{ project_slug }}_project
PROJECT_BASE_URL={{ project_slug }}.docker.localhost
PROJECT_PORT={{ project_port }}

### --- DATABASE CREDENTIALS ---
DB_NAME=drupal
DB_USER=drupal
DB_PASSWORD=drupal
DB_ROOT_PASSWORD=password
DB_HOST=mariadb
DB_PORT=3306
DB_DRIVER=mysql

### --- MARIADB ----
MARIADB_TAG=10.9-3.23.0

### --- PHP ----
{% if os == "linux" -%}
# Linux (uid 1000 gid 1000)
{% if php == "php82" -%}
PHP_TAG=8.1-dev-4.38.5
{%- elif php == "php81" -%}
PHP_TAG=8.1-dev-4.38.5
{%- else -%}
PHP_TAG=7.4-dev-4.38.5
{%- endif %}

{% elif os == "mac" -%}
# macOS (uid 501 gid 20)
{% if php == "php82" -%}
PHP_TAG=8.1-dev-macos-4.38.5
{%- elif php == "php81" -%}
PHP_TAG=8.1-dev-macos-4.38.5
{%- else -%}
PHP_TAG=7.4-dev-macos-4.38.5
{%- endif %}
{%- endif %}

### --- NGINX ----
NGINX_TAG=1.23-5.27.0

NGINX_VHOST_PRESET=drupal9
#NGINX_VHOST_PRESET=drupal8
#NGINX_VHOST_PRESET=drupal7
